w/force-app/main/default/flows/Location_WeatherInfo.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>weather_info_callout_action</name>
        <label>weather info callout action</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <actionName>getweatheropenapiinfo.get weather details info</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>weather_Api_response</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>lat</name>
            <value>
                <elementReference>$Record.Latitude__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lon</name>
            <value>
                <elementReference>$Record.Longitude__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>appid</name>
            <value>
                <stringValue>91a911366160577ac4fe50d0b5561abd</stringValue>
            </value>
        </inputParameters>
        <nameSegment>getweatheropenapiinfo.get weather details info</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>weatherinfo_records_assignment</name>
        <label>weatherinfo records assignment</label>
        <locationX>242</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>weatherInfoObj.Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>weatherInfoObj.temperature__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>weather_info_callout_action.2XX.current.temp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>weatherInfoObj.description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>description_formula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>weatherInfoObj.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>weatherinfo_name_formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>save_weather_info</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>weather_Api_response</name>
        <label>weather Api response</label>
        <locationX>374</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Successful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>weather_info_callout_action.responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>weatherinfo_records_assignment</targetReference>
            </connector>
            <label>Successful</label>
        </rules>
    </decisions>
    <description>Location WeatherInfo</description>
    <environments>Default</environments>
    <formulas>
        <name>description_formula</name>
        <dataType>String</dataType>
        <expression>&apos;TimeZone: &apos;+{!weather_info_callout_action.2XX.timezone}+&apos;,&apos;+BR()+
&apos;Clouds: &apos;+TEXT({!weather_info_callout_action.2XX.current.clouds})+&apos;,&apos;+BR()+
&apos;Humidity: &apos;+TEXT({!weather_info_callout_action.2XX.current.humidity})+&apos;,&apos;+BR()+
&apos;Pressure: &apos;+TEXT({!weather_info_callout_action.2XX.current.pressure})+&apos;,&apos;+BR()+
&apos;Wind Speed: &apos;+TEXT({!weather_info_callout_action.2XX.current.windx5fspeed})</expression>
    </formulas>
    <formulas>
        <name>weatherinfo_name_formula</name>
        <dataType>String</dataType>
        <expression>{!weather_info_callout_action.2XX.timezone}+&apos; - (&apos;+ TEXT({!weather_info_callout_action.2XX.lat})+&apos;,&apos;+
TEXT({!weather_info_callout_action.2XX.lon})+&apos;)&apos;</expression>
    </formulas>
    <interviewLabel>Location WeatherInfo {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Location WeatherInfo</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>save_weather_info</name>
        <label>save weather info</label>
        <locationX>242</locationX>
        <locationY>600</locationY>
        <inputReference>weatherInfoObj</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Latitude__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Longitude__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Location__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>weather_info_callout_action</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>weatherinfoList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WeatherInfo__c</objectType>
    </variables>
    <variables>
        <name>weatherInfoObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WeatherInfo__c</objectType>
    </variables>
</Flow>
